.cardSize {
  width: 31.33%;
}

.homeNavIMGBack {
  height: 50vh;
  background-image: url('../public/5283.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}